---
---

//
// IMPORTS
//

//@import "reset";
//@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
a {
  color: #1772d0;
  text-decoration: none;
}

.dark-mode {
  background-color: #171c28;
  color: white;
  transition: "0.1s";
}


a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-display: auto;
  font-weight:400;
  // text-align: justify;
}

strong {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-display: auto;
  font-weight: 600;
}

h2 {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 22px;
  font-display: auto;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h3 {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-display: auto;
  padding: 0px;
  margin: 0px;
  display:inline; 
}

h1 {
  font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-display: auto;
  text-align: center;
  padding: 0px;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-left: 0px;
  margin-right: 0px;

}

table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: separate;
  margin-right: auto;
  margin-left: auto;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

/* New styles for responsive layout */
@media screen and (max-width: 600px) {
  /* Adjust the max-width as needed */

  .profile-container {
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center text content */
  }

  .profile-image {
    order: -1; /* Move the image to the top */
    // margin-bottom: 20px; /* Add some spacing between image and text */
    padding:2.5%;
    width: 100%;
    max-width: 100%;
  }

  .profile-image img {
    margin: 0 auto; /* Center the image horizontally */
  }
}

.profile-content{
  text-align: justify;
}

/* Adjust image size for larger screens */
.profile-image img {
  width: 100%; /* Make the image responsive to its container */
  max-width: 300px; /* Set a maximum width to control image size */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Remove any extra space below the image */
  margin: 0 auto; /* Center the image horizontally */
}

  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 2.5px 12px;
}


.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.gallery-header-title {
    font-size: 56px;
    font-weight: 400;
    line-height: 0px;
}

.gallery-container {
  width: 70%; /* Adjust the width as needed */
  // padding: 20px; /* Adjust the padding as needed */
}
.gallery-cards-div {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 1rem 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subTitle {
    color: #868e96;
}

.gallery-heading {
    font-size: 56px;
    font-weight: 400;
    line-height: normal;
    // margin: 0px;
    text-align: center;
}


/* Media Query */


@media (max-width: 768px) {
    .gallery-heading {
        font-size: 30px;
        text-align: center;
    }

}


@media (max-width: 991px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

}

.gallery-image-container {
  width: 100px; /* Set a fixed width for all images */
  height: 100px; /* Set a fixed height for all images */
  // box-sizing: border-box; /* Include padding in width calculation */
}

.zoom-container {
  position: relative;
}

.zoom-image {
  width: 500px;
  height: 500px;
  transition: transform 0.3s; /* Add a smooth transition effect */
}

.zoom-image:hover {
  transform: scale(1.8); /* Increase the scale (zoom) on hover */
}
  /* CSS for the background overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Adjust the opacity for the desired blur effect */
    backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
    z-index: 1;
    pointer-events: none; /* Allow mouse interactions on elements below the overlay */
    opacity: 0;
    transition: opacity 0.3s; /* Add a smooth transition for the overlay */
}

.zoom-container:hover + .overlay {
    opacity: 1; /* Show the overlay on hover */
    pointer-events: auto; /* Allow mouse interactions on the overlay itself */
}
