<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Titillium Web:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <table style="width:100%;max-width:1000px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tbody><tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tbody><tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <div class="profile-container">
                <div class="profile-image">
                  <!-- <td style="padding:2.5%;width:40%;max-width:40%"> -->
                    <img alt="profile photo" src="{{site.avatar}}">
                  <!-- </td> -->
                </div>
                <div class="profile-content">
                  <h1>
                    Cédric Manouan
                  </h1>
                  <hr>
    
                  <p>
                    Hello from the other side! I am a Deep Learning Engineer who loves building Neural Networks of all kinds.&#129303;                <br>
                    I previously served as a Research Assisociate within the AI &amp; Robotics Lab at <a href="https://www.africa.engineering.cmu.edu/" target="_blank">Carnegie Mellon University Africa</a>, which is affiliated with the <a href="https://engineering.cmu.edu/" target="_blank">College of Engineering</a> at <a href="https://www.cmu.edu/" target="_blank">Carnegie Mellon University</a>.
                    Under the supervision of Prof. <a href="http://vernon.eu/personal.htm" target="_blank">David Vernon</a>, I was engaged in research focused on the practical applications of Natural Language Processing within the field of cognitive robotics.
                  </p>
                  <p>
                    I hold an Master's degree in Information Technology (Applied Machine Learning) from <a href="https://www.cmu.edu/" target="_blank">Carnegie Mellon University</a>, where I was fortunate to work as a research assistant for <a href="https://africa.engineering.cmu.edu/about/contact/directory/bios/busogi-moise.html" target="_blank"> Dr. Moise Busogi</a> (also a teaching assistant for his <a href="https://www.africa.engineering.cmu.edu/academics/courses/04-800-AB.html" target="_blank">04-800 AB ML4EO</a> course) and a teaching assistant for <a href="https://www.africa.engineering.cmu.edu/about/contact/directory/bios/ramakrishnan-bhiksha-raj.html" target="_blank">Prof. Bhiksha Raj</a> (<a href="https://deeplearning.cs.cmu.edu/F22/index.html" target="_blank">11-785 Introduction to Deep Learning</a>) in Fall 2022 &amp; Spring 2023. <br>
                    Prior to joining CMU, I completed my BSc. in Systems, Computer Networks and Telecommunications (SRIT) at <a href="https://esatic.ci/" target="_blank">ESATIC</a>, where I worked in the <a href="https://lastic.esatic.ci/teams/cid.php" target="_blank">Innovation and Development Unit (CID)</a> reporting to <a href="https://www.linkedin.com/in/ghislain-pandry-49b863108/" target="_blank">Dr. Ghislain Pandry</a> and <a href="https://www.linkedin.com/in/franklin-kouassi-00358113/?originalSubdomain=ci" target="_blank">Dr. Franklin Kouassi</a>.
                  </p>
                  <p>
                    Among other things, I am particularly interested in AI Policy, especially in the African context. 
                  </p>
    
                  <p>
                    When I am not writing computer programs, you'd find me somewhere hyping Cote d'Ivoire for being the 2023 AFCON Champions ⭐⭐🌟, or arguing about NBA players (more about <a href="https://www.nba.com/player/1641705/victor-wembanyama" target="_blank">Victor Wembanyama</a> these days), and Ethics in AI. <br>
                    I do enjoy playing basketball and take random (night) walks.
                  </p>
    
                  <p style="text-align:center">
                    <a target="_blank" href="mailto:cmanouan@alumni.cmu.edu" target="_blank"> Email</a> &nbsp;/&nbsp;
                    <a href="https://github.com/dric2018" target="_blank">GitHub</a> &nbsp;/&nbsp;
                    <a href="https://drive.google.com/file/d/1Wp5_aFiaC2J2yclBLADAX7VSoYCGuy2c/view?usp=drive_link" target="_blank">CV Eng.</a> &nbsp;-&nbsp;
                    <a href="https://drive.google.com/file/d/1lIgFBzDZFbsA_jL2TizThw2dK4cvK9CY/view?usp=drive_link" target="_blank">CV Fr.</a> &nbsp;/&nbsp;
                    <a href="https://twitter.com/cmDrStrange" target="_blank">Twitter</a> &nbsp;/&nbsp;
                    <a href="https://www.linkedin.com/in/cpem" target="_blank"> LinkedIn </a>
                    <!-- <a href="{{ site.baseurl }}/me"> Gallery </a> -->
                  </p>
                </div>
              </div>

            </td>

          </tr>
        </tbody></table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tbody><tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research Interests & Deep Learning Engineering</h2>
              <hr>
              <p class="profile-content">
                I have a broad interest in leveraging NLP techniques to address communication barriers and access to high-quality knowledge in the context of African languages.<br>
                I am also interested in developing autonomous agents that can engage with humans using natural language.<br>
                My research activities, to date, have revolved around the implementation of ML/DL models for various applications, such as speech recognition, text and image classification, and machine learning for Earth Observation (ML4EO). You can find some of my work in the following sections.<br><br>
                
                My most recent assignments involved exploring the utilization of robot control networks and approaches from Vision-Language-Action (VLA) modeling for semantically modulating Joint Episodic-Procedural Associative Working Memories. My primary objective was to create a Behavioral Episode model referred to as S-JEP, implementing the working memory which is at the core of the <a href="https://www.uni-bielefeld.de/einrichtungen/zif/groups/previous/archive-rg/2019cognitive-behavior/" target="_blank">Situation Model Framework</a>.<br><br>

                Recently, I have been delving into exploring the concepts of "System 2 Deep Learning," and "Autonomous Machine Intelligence" inspired by ideas presented by Prof. Yann Lecun (see the <a href="https://openreview.net/pdf?id=BZ5a1r-kVsf" target="_blank">corresponding paper</a> and his talk <a href="https://www.youtube.com/watch?v=OKkEdTchsiE&ab_channel=InstitutdesHautes%C3%89tudesScientifiques%28IH%C3%89S%29" target="_blank">here</a>) and Prof. Yoshua Bengio (you can watch one of his talks on the topic <a href="https://www.youtube.com/watch?v=T3sxeTgT4qc&t=754s&ab_channel=LexClips" target="_blank">here</a>).
                It's worth noting that both of these ideas expand upon the concept of the Dual-system theory, which was popularized by  Daniel Kahneman in Thinking Fast and Slow (<a href="https://www.youtube.com/watch?v=gmjgZF2HEwI&t=3936s&ab_channel=LongNowFoundation" target="_blank">Talk</a>/<a href="https://www.amazon.com/Thinking-Fast-Slow-Daniel-Kahneman/dp/0374533555" target="_blank">Book</a>).<br>
                My hypothesis in this regard is being complied as part of an ongoing independent research titled <a href="#">Language is Almost All you Need (preprint coming soon)</a>.<br><br>

                I have a particular affinity for subjects related to <a href="https://www.africa.engineering.cmu.edu/academics/courses/04-800-AD.html" target="_blank">Leading and Managing Technological Innovation</a>. My enthusiasm for this area intensified following my enrollment in a course of the same name, instructed by <a href="https://www.africa.engineering.cmu.edu/about/contact/directory/bios/kryder-mark.html" target="_blank">Prof. Mark Kryder</a>.
                In the context of African AI policy, I am keenly interested in examining the performance of our countries across five (5) key axes:
                <ol>
                  <li>Algorithms (ML/DL) </li>
                  <li>Data (Text, Images, Speech, etc.)</li>
                  <li>Compute infrastructures (Effective supercomputing power...compute (GPU) clusters essentially)</li>
                  <li>Workforce and Key Players/Contributors (AI specialists; Disseminetion levels)</li>
                  <li>Regulations (Safety, Ethics, Security & data privacy).</li>
                </ol>
              </p>
            </td>
          </tr>
        </tbody></table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>AI Policy</h2>
              <hr>
              <p>Some of my work on AI policy analysis.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
            {% for cat in post.categories %}
              {% if cat == 'policy' %}
                <tr>
                  <td class="zoom-container" style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                    <img class="zoom-image" src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
                  </td>
                  <td style="padding:2.5%;width:75%;vertical-align:middle">
                    <h3>{{post.title}}</h3>
                    <br>
                    {{post.authors}}
                    <br>
                    <em>{{post.venue}}</em>, {{post.subtitle}}, {{ post.date | date: "%Y" }}
                    <br>
                    {% if post.report %}
                      <a href="{{post.report}}" target="_blank">report</a>
                      {% if post.video or post.poster or post.slides or post.website or post.youtube or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.video %}
                      <a href="{{post.video}}" target="_blank">video</a>
                      {% if post.poster or post.slides or post.website or post.youtube or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.poster %}
                      <a href="{{post.poster}}" target="_blank">poster</a>
                      {% if post.slides or post.website or post.youtube or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.slides %}
                      <a href="{{post.slides}}" target="_blank">slides</a>
                      {% if post.website or post.youtube or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.website %}
                      <a href="{{post.website}}" target="_blank">website</a>
                      {% if post.youtube or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.youtube %}
                      <a href="{{post.youtube}}" target="_blank">youtube</a>
                      {% if post.code %} | {% endif %}
                    {% endif %}
                    {% if post.code %}
                      <a href="{{post.code}}" target="_blank">code</a>
                    {% endif %}
                    <p></p>
                    {{ post.excerpt }}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research Activities</h2>
              <hr>
              <p>A summary of the research project I was involved in.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
            {% for cat in post.categories %}
              {% if cat == 'research' %}
                <tr>
                  <td class="zoom-container" style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                    <img class="zoom-image" src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
                  </td>
                  <td style="padding:2.5%;width:75%;vertical-align:middle">
                    <h3>{{post.title}}</h3>
                    <br>
                    {{post.authors}}
                    <br>
                    <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
                    <br>
                    {% if post.report %}
                      <a href="{{post.report}}" target="_blank">report</a>
                      {% if post.arxiv or post.video or post.poster or post.slides or post.website or post.youtube or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.arxiv %}
                      <a href="{{post.arxiv}}" target="_blank">arxiv</a>
                      {% if post.video or post.poster or post.slides or post.website or post.youtube or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.video %}
                      <a href="{{post.video}}" target="_blank">video</a>
                      {% if post.poster or post.slides or post.website or post.youtube or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.poster %}
                      <a href="{{post.poster}}" target="_blank">poster</a>
                      {% if post.slides or post.website or post.youtube or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.slides %}
                      <a href="{{post.slides}}" target="_blank">slides</a>
                      {% if post.website or post.youtube or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.website %}
                      <a href="{{post.website}}" target="_blank">website</a>
                      {% if post.youtube or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.youtube %}
                      <a href="{{post.youtube}}" target="_blank">youtube</a>
                      {% if post.code %} | {% endif %}
                    {% endif %}
                    {% if post.code %}
                      <a href="{{post.code}}" target="_blank">code</a>
                    {% endif %}
                    <p></p>
                    {{ post.excerpt }}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Projects</h2>
              <hr>
              <p>Some of the projects that I completed during my time at the University.              
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
            {% for cat in post.categories %}
              {% if cat == 'U' %}
                <tr>
                  <td class="zoom-container" style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                    <img class="zoom-image" src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
                  </td>
                  <td style="padding:2.5%;width:75%;vertical-align:middle">
                    <h3>{{post.title}}</h3>
                    <br>
                    {{post.authors}}
                    <br>
                    <em>{{post.venue}}</em>, {{post.course}}, {{ post.date | date: "%Y" }}
                    <br>
                    {% if post.report %}
                      <a href="{{post.report}}" target="_blank">report</a>
                      {% if post.video or post.poster or post.slides or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.video %}
                      <a href="{{post.video}}" target="_blank">video</a>
                      {% if post.poster or post.slides or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.poster %}
                      <a href="{{post.poster}}" target="_blank">poster</a>
                      {% if post.slides or post.code %} | {% endif %}
                    {% endif %}
                    {% if post.slides %}
                      <a href="{{post.slides}}" target="_blank">slides</a>
                      {% if post.code %} | {% endif %}
                    {% endif %}
                    {% if post.code %}
                      <a href="{{post.code}}" target="_blank">code</a>
                    {% endif %}
                    <p></p>
                    {{ post.excerpt }}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </table>
        

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Data Science Competitions</h2>
              <hr>
              <p>These are essentially software engineering and data science projects in which I have actively participated over the past few years.              
              </p>
            </td>
          </tr>
        </table>

<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  {% for post in site.posts %}
    {% for cat in post.categories %}
      {% if cat == 'other' %}
        <tr>
          <td class="zoom-container" style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
            <img class="zoom-image" src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
          </td>
          <td style="padding:2.5%;width:75%;vertical-align:middle">
            <h3>{{post.title}}</h3>
            <br>
            {{post.authors}}
            <br>
            <em>{{post.venue}}</em>, {{post.subtitle}}, {{ post.date | date: "%Y" }}
            <br>
            {% if post.report %}
              <a href="{{post.report}}" target="_blank">report</a>
              {% if post.video or post.poster or post.slides or post.website or post.youtube or post.code %} | {% endif %}
            {% endif %}
            {% if post.video %}
              <a href="{{post.video}}" target="_blank">video</a>
              {% if post.poster or post.slides or post.website or post.youtube or post.code %} | {% endif %}
            {% endif %}
            {% if post.poster %}
              <a href="{{post.poster}}" target="_blank">poster</a>
              {% if post.slides or post.website or post.youtube or post.code %} | {% endif %}
            {% endif %}
            {% if post.slides %}
              <a href="{{post.slides}}" target="_blank">slides</a>
              {% if post.website or post.youtube or post.code %} | {% endif %}
            {% endif %}
            {% if post.website %}
              <a href="{{post.website}}" target="_blank">website</a>
              {% if post.youtube or post.code %} | {% endif %}
            {% endif %}
            {% if post.youtube %}
              <a href="{{post.youtube}}" target="_blank">youtube</a>
              {% if post.code %} | {% endif %}
            {% endif %}
            {% if post.code %}
              <a href="{{post.code}}" target="_blank">code</a>
            {% endif %}
            <p></p>
            {{ post.excerpt }}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  {% endfor %}
</table>
 

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;">
                Design and <a href="https://github.com/dric2018/dric2018.github.io" target="_blank">original source code</a> from <a href="https://jonbarron.info" target="_blank">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>